.side-drawer {
  height: 100%;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  z-index: 200;
  max-width: 400px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.side-drawer li {
  margin: 0.4rem 0;
}

.side-drawer li {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #2386c9;
  border-radius: 0px 10px 10px 0px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.user-actions {
  display: flex;
  flex-direction: column;
  color: darkblue;
  font-size: 1.2rem;
}

.side-drawer ul,
.user-actions {
  padding: 0 1.5rem;
}

.user-actions div {
  margin: 0.3rem 0;
}

.side-drawer li:hover,
.side-drawer li.active {
  background-color: #70b4e2;
}

.google-meet a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
  color: darkblue;
}

.google-meet a:hover,
.google-meet a:active {
  border-radius: 0px 10px 10px 0px;
  padding: 0 0.5rem;
  background-color: #70b4e2;
  color: white;
  cursor: pointer;
}

.user-actions div:hover,
.user-actions div:active {
  border-radius: 0px 10px 10px 0px;
  padding: 0 0.5rem;
  background-color: #70b4e2;
  color: white;
  cursor: pointer;
}

.side-drawer.open {
  transform: translateX(0);
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
