.main {
  padding: 2rem;
  width: 90%;
  max-width: 60rem;
  margin: auto;
}

.your_class-heading {
  font-size: 1.4rem;
}

@media (max-width: 425px) {
  .main {
    padding: 1rem;
    width: 100%;
    padding: 1.5rem;
    max-width: 80rem;
  }
}
